<!-- As a link -->
<!--<nav class="navbar navbar-light bg-light">
  <div class="container-fluid d-flex">
    <a class="navbar-brand" href="#">Game Of Thrones</a>
  </div>
  <div>
    <img src="/views/images/game-of-thrones-logo-i21034.jpeg"/>
  </div>
</nav> -->

<!--<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../images/game-of-thrones-logo-i21034.jpeg" alt="Logo" width="30" height="24">
    </a>
  </div>
</nav>-->

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../images/logoGamesOfThrones.jpeg" alt="" width="70" height="24" class="d-inline-block align-text-top">
      Game of Thrones
    </a>
  </div>
</nav>
