<div id="list">
    {{#each episodes as |episode|}}
            <a href="/episodes/{{episode.id}}">
                <div>
                    <p>{{episode.name}}</p>
                </div>
            </a>
    {{/each}}
</div>